{% extends 'base.html' %}
{% load static %}

{% block head %} {% endblock %}


{% block body %}
<div class="container-fluid " style="width: 80%;">

  <div class="tab-pane fade show active" id="about">
    <h3>{{ course.name }}</h3>
  <br/>
  <div class="row">
    <div class="col col-2">
        {% if course.image %}
           <img class="card-img-top" width="10rem" src="{{ course.image.url }}" alt="Превью">
        {% else %}
           <img class="card-img-top" width="10rem" src="{% static 'img/no_image.png' %}" alt="Превью">
        {% endif %}
        <div class="text-center">
            <br>
            {% if groups|length > 0 %}
                <h5>Текущие наборы:</h5>
                {% for group in groups %}
                    <div>Дата начала</div>
                    <div>{{ group.study_start }}</div>
                    {% if request.user in group.requests.all %}
                    <form action="{% url 'unrequest' slug=course.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <button type="submit" class="btn btn-primary">Отменить заявку</button>
                    </form>
                    {% else %}
                    <form action="{% url 'request' slug=course.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <button type="submit" class="btn btn-primary">Подать заявку</button>
                    </form>
                    {% endif %}
                    <br/>
                {% endfor %}
            {% else %}
                <div>В данный момент набор на курс не ведется.</div>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <h4>Описание курса</h4>
        {{ course.description|safe }}
    </div>
    <div class="col">
        <h4>Содержание курса:</h4>
        {% for discipline in course.discipline.all %}
        <dl>
            <dt>{{ discipline.name }}</dt>
            {% for lesson in discipline.lesson.all %}
            <dd><a class="nav-link" href="{% url 'lesson' slug=course.slug pk=lesson.id %}">{{ lesson.name }}</a></dd>
            {% endfor %}
        </dl>
        {% endfor %}
    </div>
  </div>
  </div>
</div>
{% endblock %}