{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block head %} {% endblock %}


{% block body %}


<div class="container">
  <h3>Курсы</h3>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#all">Все</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#avaible">Доступные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#my">Мои</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="all">
    <div class="row">
      {% if request.user.is_staff %}
        <div class="col-md-3 col-sm-6 col-12 col-xl-3" >
          <div class="card h-100">
            <img class="card-img-top" width="10rem" src="{% static 'img/new.jpg' %}" alt="Превью">
            <div class="card-body">
              <h5 class="card-title">Новый курс</h5>
              <p class="card-text">Создать новый курс</p>
              <a href="{% url 'course_add' %}" class="btn btn-primary">Создать</a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if all_courses|length > 0 %}
        {% for course in all_courses %}
        <div class="col-md-3 col-sm-6 col-12 col-xl-3" >
          <div class="card h-100">
            {% if course.image %}
              <img class="card-img-top" width="10rem" src="{{ course.image.url }}" alt="Превью">
            {% else %}
              <img class="card-img-top" width="10rem" src="{% static 'img/no_image.png' %}" alt="Превью">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="card-text">{{ course.description|striptags|truncatechars:50|safe }}</p>
              <a href="{{ course.get_absolute_url }}" class="btn btn-primary">Больше о курсе</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h3>Нет доступных курсов</h3>
      {% endif %}
    </div>
  </div>
  <div class="tab-pane fade" id="avaible">
    <div class="row">
      {% if avaible_courses|length > 0 %}
        {% for course in avaible_courses %}
          <div class="col-md-3 col-sm-6 col-12 col-xl-3" >
            <div class="card h-100">
              <img class="card-img-top" width="10rem" src="{{ course.image.url }}" alt="Превью">
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.description|splitter }}</p>
                <a href="{{ course.get_absolute_url }}" class="btn btn-primary">Больше о курсе</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h3>Нет доступных курсов</h3>
      {% endif %}
    </div>
  </div>
  <div class="tab-pane fade" id="my">
    Отзывы...
  </div>
</div>
</div>
{% endblock %}