{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}

{% block head %} {% endblock %}


{% block body %}
<div class="container-fluid " style="width: 80%;">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' slug=lesson.discipline.course.slug %}">К курсу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lesson">Занятие</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="lesson">
    <h3>{{ lesson.name }}</h3>
  <br/>
  <div class="row">
    <div class="col col-2">

    </div>
    <div class="col">
        <h4>Описание занятия</h4>
        {{ lesson.description|safe }}
    </div>
    <div class="col">
        <h4>Задания</h4>
            {% for test_plan in testplans %}
                <p>
                    {% if test_plan.test|is_passed:request.user %}
                        Пройден - {{ test_plan.test.name }}
                    {% else %}
                        {% if test_plan.in_timerange %}
                            <a href="{% url 'test' slug=lesson.discipline.course.slug pk=test_plan.test.pk %}">{{ test_plan.test.name }}</a>
                        {% else %}
                            {{ test_plan.test.name }} (Доступен с {{ test_plan.start }} по {{ test_plan.end }} )
                        {% endif %}
                    {% endif %}
                </p>
            {% endfor %}
            {% for file_plan in fileplans %}
                <p>
                    {% if file_plan.file|is_passed:request.user %}
                        Пройден - {{ file_plan.file.name }}
                    {% else %}
                        {% if file_plan.in_timerange %}
                            <a href="{% url 'file' slug=lesson.discipline.course.slug pk=file_plan.file.pk %}">{{ file_plan.file|is_sended:request.user }} {{ file_plan.file.name }}</a>
                        {% else %}
                        {{ file_plan.file.name }} (Доступен с {{ file_plan.start }} по {{ file_plan.end }} )
                    {% endif %}
                    {% endif %}
                </p>
            {% endfor %}
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="groups">

  </div>
  <div class="tab-pane fade" id="statistic">
    Отзывы...
  </div>
</div>

</div>
{% endblock %}