{% extends 'base.html' %}
{% load static %}

{% block head %} {% endblock %}


{% block body %}
<div class="container-fluid " style="width: 80%;">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' slug=lesson.discipline.course.slug %}">К курсу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#lesson">Занятие</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="lesson">
    <h3>{{ lesson.name }}</h3>
  <br/>
  <div class="row">
    <div class="col col-2">

    </div>
    <div class="col">
        <h4>Описание занятия</h4>
        {{ lesson.description|safe }}
    </div>
    <div class="col">
        <h4>Задания</h4>

    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="groups">

  </div>
  <div class="tab-pane fade" id="statistic">
    Отзывы...
  </div>
</div>

</div>
{% endblock %}