{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% load crispy_forms_tags %}

{% block head %}
{{ form.media }}
{% endblock %}


{% block body %}
<div class="container-fluid " style="width: 80%;">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="row">
      <div class="col col-lg-3"><a href="{% url 'settings_directions' %}" class="btn btn-primary">Назад</a></div>
      {% if direction %}
      <div class="col col-lg-6 text-right"><button type="submit" value="Update" class="btn btn-primary">Сохранить</button></div>
      {% else %}
      <div class="col col-lg-6 text-right"><button type="submit" class="btn btn-primary">Сохранить</button></div>
      {% endif %}
    </div>
  <br/>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-6">
        {{ form|crispy }}
    </div>
      <div class="col-2">

      </div>
  </div>
  </form>
</div>
{% endblock %}