{% extends 'control/settings/base_settings.html' %}
{% load static %}
{% load poll_extras %}
{% load crispy_forms_tags %}

{% block shead %}
  {{ form.media }}
{% endblock %}


{% block body %}
<div class="container-fluid " style="width: 80%;">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="row">
      <div class="col col-lg-6"><a href="{% url 'settings_files' %}" class="btn btn-primary">Назад</a></div>
      {% if test %}
      <div class="col col-lg-6 text-right"><button type="submit" value="Update" class="btn btn-primary">Сохранить</button></div>
      {% else %}
      <div class="col col-lg-6 text-right"><button type="submit" class="btn btn-primary">Сохранить</button></div>
      {% endif %}
    </div>
    <br/>
    <div class="row">
        <div class="col-4">
            {{ form.lesson|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.filetypes|as_crispy_field }}
        </div>
    </div>
     <div class="row">
         <div class="col-3"></div>
         <div class="col-6">
             {{ form.description }}
         </div>
         <div class="col-3"></div>
     </div>
  </form>
</div>
{% endblock %}