{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block head %}
  <script src="{% static 'js/highcharts.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}" />
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable( {
            language: {
              url: '{% static 'js/tables-russian.json' %}'
              }
        });
    });
  </script>
{% endblock %}

{% block body %}
<div class="container">
  <h3>Настройки курсов</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'settings_dashboard' %}">Статистика системы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'settings_users' %}">Пользователи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'settings_groups' %}">Группы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'settings_courses' %}">Курсы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'settings_disciplines' %}">Дисциплины</a>
    </li>
  </ul>
  <div class="tab-content">
    {% block tab-content %}{% endblock %}
  </div>
</div>


{% endblock %}
