{% extends 'control/settings/base_settings.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block tab-content %}
    <div class="tab-pane fade show active" id="courses">
      <br/>
      <div class="text-right"><td><a href="{% url 'course_add' %}" class="btn btn-primary">Создать</a></td></div>
      <br/>
      <table id="table" class="table table-striped table-bordered sortable">
        <thead>
          <tr>
            <th class="th-sm">Наименование курса</th>
            <th class="th-sm">Ответственный</th>
            <th class="th-sm">Дисциплины</th>
            <th class="th-sm">Группы</th>
            <th class="th-sm">Редактировать курс</th>
            <th class="th-sm">Удалить курс</th>
          </tr>
        </thead>
        <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.owner.last_name }} {{ course.owner.first_name }} {{ course.owner.profile.patronymic }}</td>
            <td></td>
            <td>{% for group in course.group.all %} {{ group.name }}&nbsp; {% endfor %}</td>
            <td><a href="{% url 'course_edit' slug=course.slug %}">Редактировать</a></td>
            <td>
              <form action="{% url 'course_edit' slug=course.slug %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" href="">Удалить</button>
              </form>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th class="th-sm">Наименование курса</th>
            <th class="th-sm">Ответственный</th>
            <th class="th-sm">Дисциплины</th>
            <th class="th-sm">Группы</th>
            <th class="th-sm">Редактировать курс</th>
            <th class="th-sm">Удалить курс</th>
          </tr>
        </tfoot>
      </table>
    </div>
{% endblock %}

