{% extends 'control/settings/base_settings.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block tab-content %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'settings_tests' %}">Тесты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'settings_files' %}">Файлы</a>
      </li>
    </ul>
    <h3>Файлы</h3>
    <div>
      <br/>
      <div class="text-right"><td><a href="{% url 'file_add' %}" class="btn btn-primary">Создать</a></td></div>
      <br/>
      <table id="table" class="table table-striped table-bordered sortable">
        <thead>
          <tr>
            <th class="th-sm text-center">Задание</th>
            <th class="th-sm text-center">Занятие</th>
            <th class="th-sm text-center">Дисциплина</th>
            <th class="th-sm text-center">Курс</th>
            <th class="th-sm text-center">Результаты</th>
            <th class="th-sm text-center">Редактировать</th>
            <th class="th-sm text-center">Удалить Задание</th>
          </tr>
        </thead>
        <tbody>
        {% for file in files %}
          <tr>
            <td class="text-center">{{ file.name }}</td>
            <td class="text-center">{{ file.lesson.name }}</td>
            <td class="text-center">{{ file.lesson.discipline.name }}</td>
            <td class="text-center">{{ file.lesson.discipline.course.name }}</td>
            <td class="text-center"><a class="btn btn-primary" href="{% url 'file_results' pk=file.pk %}">Просмотреть</a></td>
            <td class="text-center"><a class="btn btn-primary" href="{% url 'file_edit' pk=file.pk %}">Редактировать</a></td>
            <td class="text-center">
              <form action="{% url 'file_del' pk=file.pk %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" href="">Удалить</button>
              </form>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th class="th-sm text-center">Задание</th>
            <th class="th-sm text-center">Занятие</th>
            <th class="th-sm text-center">Дисциплина</th>
            <th class="th-sm text-center">Курс</th>
            <th class="th-sm text-center">Результаты</th>
            <th class="th-sm text-center">Редактировать</th>
            <th class="th-sm text-center">Удалить Задание</th>
          </tr>
        </tfoot>
      </table>
    </div>
{% endblock %}
