{% extends 'control/settings/base_settings.html' %}
{% load static %}
{% load poll_extras %}

{% load crispy_forms_tags %}

{% block shead %}{% endblock %}

{% block body %}
<div class="container-fluid " style="width: 80%;">
  <h3>Успеваемость группы {{ group.name }} "{{ group.course }}"</h3>
      <br/>
      <a href="{% url 'settings_groups' %}" class="btn btn-primary">Назад</a>
      <br/>
      <br/>
      {% for user in group.students.all %}
      <h3>{{ user.last_name }} {{ user.first_name }} {{ user.profile.patronymic }}</h3>
      <table class="table table-striped sortable ">
        <thead>
          <tr>
            <th class="th-sm text-center">Дисциплина</th>
            <th class="th-sm text-center">Занятие</th>
            <th class="th-sm text-center">Задание</th>
          </tr>
        </thead>
        <tbody>
            {% for discipline in group.course.discipline.all %}
                {% if discipline|in_plan:group %}
                    {% for lesson in discipline.lesson.all %}
                        {% if lesson|in_plan:group %}
                            <tr>
                              <td class="text-center">{{ discipline.name }}</td>
                              <td class="text-center">{{ lesson.name }}</td>
                              <td class="text-center">
                                  <div>
                                  {% for test in lesson.test.all %}
                                     {% if test|in_plan:group %}
                                        {% if test|is_passed:user %}
                                            {{ test.name }} - Пройден
                                        {% else %}
                                            {{ test.name }} - Не пройден
                                        {% endif %}
                                     {% endif %}
                                  {% endfor %}
                                  </div>
                                  <div>
                                  {% for file in lesson.filetask.all %}
                                     {% if file|in_plan:group %}
                                        {% if file|is_passed:user %}
                                            {{ file.name }} - Пройден
                                        {% else %}
                                            {{ file.name }} - Не пройден {{ file|is_sended:user }}
                                        {% endif %}
                                     {% endif %}
                                  {% endfor %}
                                  </div>
                              </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th class="th-sm text-center">Дисциплина</th>
            <th class="th-sm text-center">Занятие</th>
            <th class="th-sm text-center">Задание</th>
          </tr>
        </tfoot>
      </table>
      <br/>
      {% endfor %}
</div>

{% endblock %}