{% extends 'control/settings/base_settings.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block tab-content %}
    <h3>Занятия</h3>
    <div>
      <br/>
      <div class="text-right"><td><a href="{% url 'lesson_add' %}" class="btn btn-primary">Создать</a></td></div>
      <br/>
      <table id="table" class="table table-striped table-bordered sortable">
        <thead>
          <tr>
            <th class="th-sm text-center">Наименование занятия</th>
            <th class="th-sm text-center">Наименование дисциплины</th>
            <th class="th-sm text-center">Преподаватель</th>
            <th class="th-sm text-center">Редактировать</th>
            <th class="th-sm text-center">Удалить занятие</th>
          </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
          <tr>
            <td class="text-center">{{ lesson.name }}</td>
            <td class="text-center">{{ lesson.discipline.name }}</td>
            <td class="text-center">{{ lesson.discipline.teacher.last_name }} {{ lesson.discipline.teacher.first_name }} {{ lesson.discipline.teacher.profile.patronymic }}</td>
            <td class="text-center"><a class="btn btn-primary" href="{% url 'lesson_edit' pk=lesson.pk %}">Редактировать</a></td>
            <td class="text-center">
              <form action="{% url 'lesson_edit' pk=lesson.pk %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" href="">Удалить</button>
              </form>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th class="th-sm text-center">Наименование занятия</th>
            <th class="th-sm text-center">Наименование дисциплины</th>
            <th class="th-sm text-center">Преподаватель</th>
            <th class="th-sm text-center">Редактировать</th>
            <th class="th-sm text-center">Удалить занятие</th>
          </tr>
        </tfoot>
      </table>
    </div>
{% endblock %}

